header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #310d36;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

button.active {
  background-color: orange;
}

.language-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
