header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #310d36;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

button.active {
  background-color: #ffa500;
  color: black;
}

.language-card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s;
}

.language-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.language-card p {
  font-size: 1rem;
  color: #666;
}

.language-card:hover {
  transform: scale(1.02);
}
